@font-face {
  font-family: 'proxima_novabold';
  src: url("proximanova-bold-webfont.eot");
  src: url("proximanova-bold-webfont.eot?#iefix") format("embedded-opentype"), url("proximanova-bold-webfont.woff2") format("woff2"), url("proximanova-bold-webfont.woff") format("woff"), url("proximanova-bold-webfont.ttf") format("truetype"), url("proximanova-bold-webfont.svg#proxima_novabold") format("svg");
  font-weight: normal;
  font-style: normal; }

:root {
  --text-color: white;
  --text-dark-color: #202020;
  --header-height: 100px;
  --burger-width: 40px;
  --font-headings: 'proxima_novabold', serif;
  --bcg-green: #acb7ae;
  --bcg-lightgreen: #a6b3b3;
  --bcg-lightbrown: #b0a7a4;
  --bcg-lightblue: #a3abb1;
  --bcg-loaderblue: #758a94;
  --bcg-loaderbluedark: #566c76;
  --loader-width: 27.36vw;
  --loader-height: 50vh;
  --v-spacing: 10vh;
  --h-gutter: 6.6vw;
  --easing: cubic-bezier(0.5, 0.7, 0.4, 1); }

body {
  font: 16px/1.7 'proxima_novabold', 'Source Sans Pro', Helvetica, Helvetica Neue, Arial, sans-serif;
  color: var(--text-dark-color); }

.proxima {
  font-family: 'proxima_novabold'; }

.introduction {
  padding: 60px 0; }
  .introduction .intro {
    text-align: center;
    color: #707070; }
    @media (max-width: 767px) {
      .introduction .intro {
        margin-bottom: 30px; } }

.sectionTitle {
  margin: 0 auto;
  text-align: center;
  color: #707070;
  padding: 20px;
  font-size: 2.375rem; }

.introduction .swiper-container01 [class^="swiper-button-"], .introduction .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .introduction .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet::before, .training-guidance .swiper-container02 [class^="swiper-button-"], .training-guidance .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .training-guidance .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet::before {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.introduction .swiper-container01 {
  width: 100%;
  max-width: 1440px; }
  .introduction .swiper-container01 .swiper-wrapper .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .introduction .swiper-container01 .swiper-wrapper .swiper-slide.active .introBox .circleBox .circle:first-child {
      margin-right: -30px; }
      @media (max-width: 767px) {
        .introduction .swiper-container01 .swiper-wrapper .swiper-slide.active .introBox .circleBox .circle:first-child {
          z-index: 1; } }
    @media (max-width: 767px) {
      .introduction .swiper-container01 .swiper-wrapper .swiper-slide {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    .introduction .swiper-container01 .swiper-wrapper .swiper-slide .suuntoBox {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-flex: 0;
          -ms-flex: 0 1 40%;
              flex: 0 1 40%; }
      .introduction .swiper-container01 .swiper-wrapper .swiper-slide .suuntoBox .watch {
        background-position: center;
        background-size: 120%;
        width: 350px;
        height: 365px;
        margin-bottom: -5px; }
      .introduction .swiper-container01 .swiper-wrapper .swiper-slide .suuntoBox .color {
        font-size: 3.375rem; }
    .introduction .swiper-container01 .swiper-wrapper .swiper-slide .introBox {
      padding: 20px;
      -webkit-box-flex: 0;
          -ms-flex: 0 1 60%;
              flex: 0 1 60%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .introduction .swiper-container01 .swiper-wrapper .swiper-slide .introBox .circleBox {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 15px; }
        @media (max-width: 767px) {
          .introduction .swiper-container01 .swiper-wrapper .swiper-slide .introBox .circleBox {
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center; } }
        .introduction .swiper-container01 .swiper-wrapper .swiper-slide .introBox .circleBox .circle {
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          width: 300px;
          height: 300px;
          border-radius: 50%; }
          .introduction .swiper-container01 .swiper-wrapper .swiper-slide .introBox .circleBox .circle:first-child {
            z-index: 2;
            margin-right: -30px; }
          @media (max-width: 767px) {
            .introduction .swiper-container01 .swiper-wrapper .swiper-slide .introBox .circleBox .circle {
              width: 150px;
              height: 150px; } }
      .introduction .swiper-container01 .swiper-wrapper .swiper-slide .introBox .desc {
        padding: 10px;
        font-size: 1.875rem;
        line-height: 1.375; }
        @media (max-width: 767px) {
          .introduction .swiper-container01 .swiper-wrapper .swiper-slide .introBox .desc {
            font-size: 1.2rem;
            text-align: center;
            line-height: 1.5; } }
  .introduction .swiper-container01:hover .swiper-button-prev,
  .introduction .swiper-container01:hover .swiper-button-next {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    visibility: visible; }
  .introduction .swiper-container01 [class^="swiper-button-"] {
    width: 44px;
    opacity: 0;
    visibility: hidden; }
  .introduction .swiper-container01 .swiper-button-prev {
    -webkit-transform: translateX(50px);
            transform: translateX(50px); }
  .introduction .swiper-container01 .swiper-button-next {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px); }

.introduction .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 9px;
  position: relative;
  width: 12px;
  height: 12px;
  background-color: #b1b1b1;
  opacity: 0.4; }
  .introduction .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border: 0px solid silver;
    border-radius: 50%; }
  .introduction .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet:hover, .introduction .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
    opacity: 1; }
  .introduction .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
    border-width: 1px; }

.features {
  padding: 60px 0;
  background-color: #f7f7f7; }
  .features .flexContainer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .features .flexContainer .watch {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 50%;
              flex: 0 1 50%;
      height: 500px;
      width: 500px;
      background-position: center;
      background-size: 78%;
      background-repeat: no-repeat; }
      @media (max-width: 767px) {
        .features .flexContainer .watch {
          max-height: 100%;
          width: 100%;
          -webkit-box-flex: unset;
              -ms-flex: unset;
                  flex: unset;
          margin-bottom: -50px; } }
    .features .flexContainer .contentBox {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 50%;
              flex: 0 1 50%; }
      @media (max-width: 767px) {
        .features .flexContainer .contentBox {
          -webkit-box-flex: 1;
              -ms-flex: 1 1 100%;
                  flex: 1 1 100%;
          padding: 0 20px;
          text-align: center; } }
      .features .flexContainer .contentBox .watchName {
        font-size: 2.875rem; }
      .features .flexContainer .contentBox .title {
        font-size: 2.375rem;
        color: #707070; }
      .features .flexContainer .contentBox p {
        max-width: 600px; }
    @media (max-width: 767px) {
      .features .flexContainer--featureTop {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse; } }
    .features .flexContainer--feature {
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      @media (max-width: 767px) {
        .features .flexContainer--feature {
          -webkit-box-pack: space-evenly;
              -ms-flex-pack: space-evenly;
                  justify-content: space-evenly;
          padding: 0 20px; } }
      .features .flexContainer--feature .feature {
        -webkit-transition: all 0.15s ease-out;
        transition: all 0.15s ease-out;
        cursor: pointer;
        color: #999999;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        @media (max-width: 767px) {
          .features .flexContainer--feature .feature {
            -webkit-box-flex: 1;
                -ms-flex: 1 1 25%;
                    flex: 1 1 25%; } }
        .features .flexContainer--feature .feature:hover {
          -webkit-transform: translateY(-20px);
                  transform: translateY(-20px);
          color: #000; }
        .features .flexContainer--feature .feature span {
          color: inherit;
          font-size: 6rem; }
          @media (max-width: 767px) {
            .features .flexContainer--feature .feature span {
              font-size: 4rem; } }
        .features .flexContainer--feature .feature .desc {
          font-size: 1.135rem;
          line-height: 1.375;
          text-align: center;
          max-width: 94px;
          color: inherit; }

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1440px;
  margin: 0 auto; }

.training-guidance {
  padding: 60px 0; }
  .training-guidance .flexContainer--fullScreen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    max-width: 100%; }
    .training-guidance .flexContainer--fullScreen .corner {
      -webkit-box-flex: 1;
          -ms-flex: 1 1 50%;
              flex: 1 1 50%;
      padding-bottom: 900px;
      position: relative;
      overflow: hidden; }
      @media (max-width: 767px) {
        .training-guidance .flexContainer--fullScreen .corner {
          padding-bottom: 700px; } }
      .training-guidance .flexContainer--fullScreen .corner--top-right-bevel {
        margin-right: calc(-13.8%);
        z-index: 2; }
        .training-guidance .flexContainer--fullScreen .corner--top-right-bevel img {
          top: 0;
          left: 0;
          -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 100%, 0% 100%);
                  clip-path: polygon(0% 0%, 75% 0%, 100% 100%, 0% 100%); }
      .training-guidance .flexContainer--fullScreen .corner--bottom-left-bevel img {
        top: 20px;
        right: 0;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);
                clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%); }
      .training-guidance .flexContainer--fullScreen .corner span {
        cursor: pointer;
        opacity: 1;
        position: absolute;
        z-index: 2;
        color: white;
        font-size: 5rem;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        top: 30%;
        left: 50%; }
        .training-guidance .flexContainer--fullScreen .corner span:hover {
          opacity: 0.85; }
        .training-guidance .flexContainer--fullScreen .corner span .title {
          position: absolute;
          white-space: nowrap;
          -webkit-transform: translate(-50%, -30%);
                  transform: translate(-50%, -30%);
          left: 50%;
          font-size: 2rem; }
        .training-guidance .flexContainer--fullScreen .corner span .subtitle {
          position: absolute;
          white-space: nowrap;
          -webkit-transform: translate(-50%, 80%);
                  transform: translate(-50%, 80%);
          left: 50%;
          font-size: 1.375rem; }
      .training-guidance .flexContainer--fullScreen .corner img {
        opacity: 1;
        height: 80vh;
        left: 0;
        width: 100%;
        position: absolute;
        -o-object-fit: cover;
           object-fit: cover;
        -o-object-position: 50% 50%;
           object-position: 50% 50%;
        max-width: 100%; }

.introduction .swiper-container01 [class^="swiper-button-"], .introduction .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .introduction .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet::before, .training-guidance .swiper-container02 [class^="swiper-button-"], .training-guidance .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .training-guidance .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet::before {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0; }

@media (max-width: 767px) {
  .training-guidance .wrapper {
    padding: 0 20px; } }

.training-guidance .swiper-container02 {
  width: 100%;
  height: auto;
  -webkit-transition: opacity 0.6s ease;
  transition: opacity 0.6s ease; }
  .training-guidance .swiper-container02.swiper-container-coverflow {
    padding-top: 2%; }
  .training-guidance .swiper-container02.loading {
    opacity: 0;
    visibility: hidden; }
  .training-guidance .swiper-container02:hover .swiper-button-prev,
  .training-guidance .swiper-container02:hover .swiper-button-next {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    visibility: visible; }
  .training-guidance .swiper-container02 .swiper-wrapper .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    border-radius: 20px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    background-color: white;
    border: 1px solid #999999; }
    .training-guidance .swiper-container02 .swiper-wrapper .swiper-slide .swiper-slide-shadow-left,
    .training-guidance .swiper-container02 .swiper-wrapper .swiper-slide .swiper-slide-shadow-right {
      border-radius: 20px; }
    .training-guidance .swiper-container02 .swiper-wrapper .swiper-slide .entity-img {
      -webkit-filter: drop-shadow(0 0 50px #fff);
              filter: drop-shadow(0 0 50px #fff);
      padding-top: 60px;
      display: block;
      width: auto;
      height: 80%; }
      .training-guidance .swiper-container02 .swiper-wrapper .swiper-slide .entity-img--lastChild {
        padding-top: 30px;
        height: 92%; }
      @media (max-width: 767px) {
        .training-guidance .swiper-container02 .swiper-wrapper .swiper-slide .entity-img {
          height: 68%;
          padding-top: 30px; } }
    .training-guidance .swiper-container02 .swiper-wrapper .swiper-slide .content {
      position: absolute;
      bottom: 8%;
      left: 0;
      width: 50%;
      padding-left: 5%;
      color: white;
      text-shadow: 0 0 3px rgba(0, 0, 0, 0.85); }
      @media (max-width: 767px) {
        .training-guidance .swiper-container02 .swiper-wrapper .swiper-slide .content {
          bottom: 5%;
          width: 80%; } }
      .training-guidance .swiper-container02 .swiper-wrapper .swiper-slide .content .miniTitle {
        font-size: 1.6rem;
        font-weight: bold; }
      .training-guidance .swiper-container02 .swiper-wrapper .swiper-slide .content .title {
        font-size: 2.6em;
        font-weight: bold;
        margin-bottom: 20px; }
        @media (max-width: 767px) {
          .training-guidance .swiper-container02 .swiper-wrapper .swiper-slide .content .title {
            margin-bottom: 0px; } }
      .training-guidance .swiper-container02 .swiper-wrapper .swiper-slide .content .caption {
        display: block;
        font-size: 16px;
        line-height: 1.4; }
  .training-guidance .swiper-container02 [class^="swiper-button-"] {
    width: 44px;
    opacity: 0;
    visibility: hidden; }
  .training-guidance .swiper-container02 .swiper-button-prev {
    -webkit-transform: translateX(50px);
            transform: translateX(50px); }
  .training-guidance .swiper-container02 .swiper-button-next {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px); }

.training-guidance .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 9px;
  position: relative;
  width: 12px;
  height: 12px;
  background-color: white;
  opacity: 0.4; }
  .training-guidance .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border: 0px solid white;
    border-radius: 50%; }
  .training-guidance .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet:hover, .training-guidance .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
    opacity: 1; }
  .training-guidance .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
    border-width: 1px; }

.recovery {
  padding: 60px 0; }
  .recovery .flexContainer--fullScreen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    max-width: 100%; }
    .recovery .flexContainer--fullScreen .corner {
      -webkit-box-flex: 1;
          -ms-flex: 1 1 50%;
              flex: 1 1 50%;
      padding-bottom: 900px;
      position: relative;
      overflow: hidden; }
      @media (max-width: 767px) {
        .recovery .flexContainer--fullScreen .corner {
          padding-bottom: 700px; } }
      .recovery .flexContainer--fullScreen .corner--top-right-bevel {
        margin-right: calc(-13.8%);
        z-index: 2; }
        .recovery .flexContainer--fullScreen .corner--top-right-bevel img {
          top: 0;
          left: 0;
          -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 100%, 0% 100%);
                  clip-path: polygon(0% 0%, 75% 0%, 100% 100%, 0% 100%); }
      .recovery .flexContainer--fullScreen .corner--bottom-left-bevel img {
        top: 20px;
        right: 0;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);
                clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%); }
      .recovery .flexContainer--fullScreen .corner span {
        cursor: pointer;
        opacity: 1;
        position: absolute;
        z-index: 2;
        color: white;
        font-size: 5rem;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        top: 30%;
        left: 50%; }
        .recovery .flexContainer--fullScreen .corner span:hover {
          opacity: 0.85; }
        .recovery .flexContainer--fullScreen .corner span .title {
          position: absolute;
          white-space: nowrap;
          -webkit-transform: translate(-50%, -30%);
                  transform: translate(-50%, -30%);
          left: 50%;
          font-size: 2rem; }
        .recovery .flexContainer--fullScreen .corner span .subtitle {
          position: absolute;
          white-space: nowrap;
          -webkit-transform: translate(-50%, 80%);
                  transform: translate(-50%, 80%);
          left: 50%;
          font-size: 1.375rem; }
      .recovery .flexContainer--fullScreen .corner img {
        opacity: 1;
        height: 80vh;
        left: 0;
        width: 100%;
        position: absolute;
        -o-object-fit: cover;
           object-fit: cover;
        -o-object-position: 50% 50%;
           object-position: 50% 50%;
        max-width: 100%; }

#product-common-1 {
  position: relative; }
  #product-common-1 #slideContainer .slide {
    background-color: #f7f7f7; }
    #product-common-1 #slideContainer .slide .slide-wrapper {
      height: 100vh;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      @media (max-width: 767px) {
        #product-common-1 #slideContainer .slide .slide-wrapper {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; } }
      #product-common-1 #slideContainer .slide .slide-wrapper .slide-left {
        max-width: 30%;
        z-index: 1;
        position: relative;
        padding: 4vw; }
        @media (max-width: 767px) {
          #product-common-1 #slideContainer .slide .slide-wrapper .slide-left {
            padding: 10vw 0;
            position: fixed;
            width: 100%;
            max-width: inherit;
            left: 0%;
            top: 31vw;
            opacity: 0;
            text-align: center; } }
        @media (max-width: 767px) {
          #product-common-1 #slideContainer .slide .slide-wrapper .slide-left .slide-txt {
            padding: 0 5vw; } }
        #product-common-1 #slideContainer .slide .slide-wrapper .slide-left .slide-txt h2 {
          font-size: 3rem;
          color: #000; }
        #product-common-1 #slideContainer .slide .slide-wrapper .slide-left .slide-txt p {
          font-size: 1.2rem;
          color: #000; }
      #product-common-1 #slideContainer .slide .slide-wrapper .slide-right {
        background: #fff;
        position: fixed;
        width: 50%;
        height: 100vh;
        top: 0%;
        right: 0;
        bottom: 0;
        opacity: 0;
        display: none; }
        @media (max-width: 767px) {
          #product-common-1 #slideContainer .slide .slide-wrapper .slide-right {
            height: 50vh;
            top: auto;
            right: 0;
            -webkit-transform: none;
            transform: none;
            bottom: -15vw;
            width: 100%;
            position: fixed; } }
        #product-common-1 #slideContainer .slide .slide-wrapper .slide-right img {
          max-width: 100%;
          position: absolute;
          right: 4vw;
          top: 10vw; }

.smart-assistant {
  background: #fff;
  padding-top: 100px;
  width: 100%;
  position: relative; }
  .smart-assistant .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    width: 100%; }
    .smart-assistant .wrapper .flex-image {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      height: 50vw;
      background-size: cover;
      background-position: center;
      max-height: 550px; }
      @media (max-width: 767px) {
        .smart-assistant .wrapper .flex-image {
          -webkit-box-flex: 1;
              -ms-flex: 1 1 100%;
                  flex: 1 1 100%;
          max-height: 100%;
          height: 60vw; } }
    .smart-assistant .wrapper .txt {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      padding: 10vw 5vw; }
      @media (max-width: 767px) {
        .smart-assistant .wrapper .txt {
          -webkit-box-flex: 1;
              -ms-flex: 1 1 100%;
                  flex: 1 1 100%;
          text-align: center; } }
      .smart-assistant .wrapper .txt h2 {
        color: #000;
        font-size: 3rem; }

main {
  z-index: 1;
  position: relative; }

header {
  background-color: #f4f4f4;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  z-index: 2; }
  header .product {
    margin-bottom: -60px;
    position: relative;
    z-index: 3;
    max-width: 800px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    pointer-events: none; }
    header .product__img:nth-child(1) {
      padding-right: 16vw; }
    header .product__img:nth-child(2) {
      position: absolute;
      left: 10vw; }
      header .product__img:nth-child(2) img {
        width: 520px; }
        @media (max-width: 767px) {
          header .product__img:nth-child(2) img {
            width: 280px; } }
    header .product__img img {
      width: 400px; }
      @media (max-width: 767px) {
        header .product__img img {
          width: 200px; } }
    @media (max-width: 767px) {
      header .product {
        margin-bottom: -30px; } }
  header h1 {
    font-family: var(--font-headings);
    font-weight: normal;
    color: #000;
    font-size: 2rem;
    line-height: 1.5;
    z-index: 1;
    margin-bottom: 0;
    pointer-events: none;
    text-align: center;
    margin-bottom: 20px; }
    header h1 span {
      display: block; }

.fw7 {
  font-weight: 700; }

.bigger {
  font-size: 2.75rem; }

.btn {
  font-weight: 700;
  border-radius: 30px;
  padding: 8px 30px;
  cursor: pointer; }
  .btn--outline {
    border: 1px solid black; }
    .btn--outline:hover {
      background-color: black;
      color: white; }

.hg__image,
.rg__image {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  pointer-events: none; }

.hg__image--l {
  width: 18vw;
  padding-bottom: 26vw; }

.hg__image--m {
  width: 18vw;
  padding-bottom: 26.55vw; }

.hg__image--s {
  width: 13vw;
  padding-bottom: 19vw; }

.hg__image img,
.rg__image img,
.blog__image img,
.stage__image img,
.loader__image img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  opacity: 0.8; }

.hg__left .hg__image:nth-child(1) {
  top: 10vh;
  left: 15vw; }

.hg__left .hg__image:nth-child(2) {
  top: 30vh;
  left: 6vw; }

.hg__left .hg__image:nth-child(3) {
  top: 56vh;
  left: 14vw; }

.hg__right .hg__image:nth-child(1) {
  top: 8vh;
  left: auto;
  right: 17vw;
  width: 16vw;
  padding-bottom: 21vw; }

.hg__right .hg__image:nth-child(2) {
  top: 27vh;
  left: auto;
  right: 10vw;
  z-index: 1; }

.hg__right .hg__image:nth-child(3) {
  top: 56vh;
  left: auto;
  right: 19vw;
  width: 16vw;
  padding-bottom: 20vw; }
/*# sourceMappingURL=styles.css.map */