.features {
  padding: 60px 0;
  background-color: $featuresBG;
  .flexContainer {
    align-items: center;
    .watch {
      @include breakpoint("xs") {
        max-height: 100%;
        width: 100%;
        flex: unset;
        margin-bottom: -50px;
      }
      flex: 0 1 50%;
      height: 500px;
      width: 500px;
      background-position: center;
      background-size: 78%;
      background-repeat: no-repeat;
    }
    .contentBox {
      @include breakpoint("xs") {
        flex: 1 1 100%;
        padding: 0 20px;
        text-align: center;
      }
      flex: 0 1 50%;
      .watchName {
        font-size: 2.875rem;
      }
      .title {
        font-size: 2.375rem;
        color: $title;
      }
      p {
        max-width: 600px;
      }
    }
    &--featureTop {
      @include breakpoint("xs") {
        flex-direction: column-reverse;
      }
    }
    &--feature {
      justify-content: space-around;
      align-items: flex-start;
      flex-wrap: wrap;
      .feature {
        @include breakpoint("xs") {
          flex: 1 1 25%;
        }
        &:hover {
          transform: translateY(-20px);
          color: #000;
        }
        transition: all 0.15s ease-out;
        cursor: pointer;
        color: $featureBtn;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        span {
          @include breakpoint("xs") {
            font-size: 4rem;
          }
          color: inherit;
          font-size: 6rem;
        }
        .desc {
          font-size: 1.135rem;
          line-height: 1.375;
          text-align: center;
          max-width: 94px;
          color: inherit;
        }
      }
    }
  }
}
