%transition_all_03s {
    transition: all 0.3s ease;
}
%backface_visibility_hidden {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.introduction {
    .swiper-container01 {
        width: 100%;
        max-width: 1440px;
        .swiper-wrapper {
            .swiper-slide {
                &.active {
                    .introBox {
                        .circleBox {
                            .circle {
                                &:first-child {
                                    @include breakpoint('xs') {
                                        // transform: translateX(10px);
                                        z-index: 1;
                                    }
                                    margin-right: -30px;
                                    // transform: translateX(0px);
                                }
                                &:nth-child(2) {
                                    @include breakpoint('xs') {
                                        // transform: translateX(-10px);
                                    }
                                    // transform: translateX(-60px);
                                }
                                // opacity: 1;
                            }
                        }
                    }
                }
                display: flex;
                align-items: flex-start;
                @include breakpoint('xs') {
                    flex-direction: column;
                    align-items: center;
                }
                .suuntoBox {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    flex: 0 1 40%;
                    .watch {
                        @include breakpoint('xs') {
                            background-size: cover;
                        }
                        background-position: center;
                        background-size: 120%;
                        width: 350px;
                        height: 365px;
                        margin-bottom: -5px;
                    }
                    .color {
                        padding: 10px;
                        font-size: 1.65rem;
                    }
                }
                .introBox {
                    padding: 20px;
                    flex: 0 1 60%;
                    display: flex;
                    flex-direction: column;
                    .circleBox {
                        @include breakpoint('xs') {
                            justify-content: center;
                        }
                        display: flex;
                        margin-bottom: 15px;
                        .circle {
                            &:first-child {
                                z-index: 2;
                                // transform: translateX(-60px);
                                margin-right: -30px;
                            }
                            // &:nth-child(2) {
                            //   &:hover {
                            //     background-size: 200%;
                            //   }
                            // }
                            @include breakpoint('xs') {
                                width: 150px;
                                height: 150px;
                            }

                            background-position: center;
                            background-size: cover;
                            background-repeat: no-repeat;
                            width: 300px;
                            height: 300px;
                            border-radius: 50%;
                            // transition: background-size 0.5s ease-in-out;
                        }
                    }
                    .desc {
                        @include breakpoint('xs') {
                            font-size: 1.2rem;
                            text-align: center;
                            line-height: 1.5;
                        }
                        padding: 20px;
                        font-size: 1.28rem;
                        line-height: 1.28;
                    }
                }
            }
        }

        &:hover {
            .swiper-button-prev,
            .swiper-button-next {
                transform: translateX(0);
                opacity: 1;
                visibility: visible;
            }
        }

        [class^='swiper-button-'] {
            width: 44px;
            opacity: 0;
            visibility: hidden;
            @extend %transition_all_03s;
        }
        .swiper-button-prev {
            transform: translateX(50px);
        }
        .swiper-button-next {
            transform: translateX(-50px);
        }
    }
    .swiper-container-horizontal {
        > .swiper-pagination-bullets {
            bottom: -5px;
            .swiper-pagination-bullet {
                &:nth-child(1) {
                    background-color: #79afb8;
                }
                &:nth-child(2) {
                    background-color: #81807f;
                }
                &:nth-child(3) {
                    background-color: #af897b;
                }
                &:nth-child(4) {
                    background-color: #e9a49d;
                }
                &:nth-child(5) {
                    background-color: #ececea;
                }

                margin: 0 9px;
                position: relative;
                width: 12px;
                height: 12px;
                background-color: rgb(177, 177, 177);
                opacity: 0.4;
                @extend %transition_all_03s;
                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 18px;
                    height: 18px;
                    transform: translate(-50%, -50%);
                    border: 0px solid rgb(192, 192, 192);
                    border-radius: 50%;
                    @extend %transition_all_03s;
                }
                &:hover,
                &.swiper-pagination-bullet-active {
                    opacity: 1;
                }
                &.swiper-pagination-bullet-active {
                    &::before {
                        border-width: 1px;
                    }
                }
            }
        }
    }
}
