@import './mixin';
@import './setting';
@import './header';
@import './nav';
@import './btn';
@import './introduction';
@import './sectionTitle';
@import './subTitle';
@import './swiper';
@import './features';
@import './flexContainer';
@import './training-guidance';
@import './swiper02';
@import './recovery';
@import './product-common';
@import './smart-assistant';
@import './corner';
@import './gotop';
@import './recovery-sm';
main {
    z-index: 1;
    position: relative;
}

.fw7 {
    font-weight: 700;
}
.bigger {
    font-size: 2.75rem;
}

#decoration {
    @include breakpoint('xs') {
        display: none;
    }
}
